flask==3.1.1
flask_cors
numpy==1.26.4
pandas
Pillow
tensorflow-cpu==2.17.0
python-dotenv==1.1.0
protobuf
langchain==0.3.26
sentence-transformers==4.1.0
pypdf==5.6.1
langchain-pinecone==0.2.8
langchain-community==0.3.26
langchain-groq==0.3.8
